apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  namespace: doc-intelligence
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: api
          image: doc-intel-api:dev
          imagePullPolicy: Never
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"

